<!DOCTYPE html>
<html>
<head>

<title>Submission Success</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:#f4f6f9;">

<div class="container text-center mt-5">

<div class="card p-5 shadow">

<h2 class="text-success">Application Submitted Successfully</h2>

<p>Your Application ID</p>

<h3 class="text-primary">{{ application_id }}</h3>

<br>

<a href="/" class="btn btn-primary">Submit Another Dataset</a>

</div>

</div>

</body>
</html>
